@import '../../../styles/variables.scss';


.bottom {
    color: $--color-black;
    width: 100%;
    padding: 30px 30px 14px 30px;
    display: flex;
    flex-wrap: wrap;
    .item {
        display: flex;
        align-items: center;
        flex: 0 1 50%;
        margin-bottom: 16px;
        .item__img {
            svg {
                width: 40px;
                height: 40px;
            }
        }
        &__content{
            padding-left: 10px;
            &_value{
                margin-bottom: 4px;
                font-weight: 700;
            }
            &_name{
                color: $--light-color;
            }
        }
    }
}

@media(max-width: 468px) {
    .bottom {
        flex-direction: column;
        .item {

            .item__img {
                svg {

                }
            }
            &__content{

                &_value{

                }
                &_name{

                }
            }
        }
    }
}