//colors
$--color-black: #000;
$--color-white: #fff;
$--color-primary: #2F2048;
$--color-secondary: #8781C4;
$--light-color: #939cb0;

$--border-radius: 4px;
$--box-shadow: rgba(247, 247, 247, 0.8) 0px 4px 24px;
$--text-shadow: 2px 2px 7px rgba(255,255,255,0.59);